name = "live-chat-worker"
main = "src/index.ts"
compatibility_date = "2024-05-29"

[[durable_objects.bindings]]
name = "CHAT_ROOM"
class_name = "ChatRoom"

[[migrations]]
tag = "v1"
new_classes = ["ChatRoom"]


